---
title: Staff
date: 2018-08-19 17:08:00 -07:00
---

{% assign staff = site.staff | sort: "position" %}

<section class="py-dyn-5 text-center" id="staff">
  <h2>Staff</h2>
  <div class="d-flex justify-content-center flex-wrap">
    {% for person in staff %}
      <div class="my-2 mx-4" style="width: 15em;">
        {% if person.image %}
          <div class="border-slight rounded-circle mx-auto" style="width: 200px; height:
          200px; background-size: cover; background-image: url({{ person.image | relative_url }})">
          </div>
        {% endif %}
        <p>
        <strong>{{ person.title }}</strong><br />
        {{ person.job_title }}
        {% if person.email %}
          <br />
          <a href="mailto:{{ person.email}}">{{ person.email }}</a>
        {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
</section>


