{% if section.is_reversed %}
  {% assign image_class = "order-xs-1 order-sm-3" %}
  {% assign text_class  = "order-2" %}
{% else %}
  {% assign image_class = "" %}
  {% assign text_class  = "" %}
{% endif %}

<section class="p-dyn-3 {{ section.css_classes }}" id="{{ section.title | slugify }}">
  <div class="row align-items-center justify-content-center">
    <div class="col-8 col-sm-5 {{ image_class }}">
      <img class="border-slight img-fluid rounded" src="{{ section.image | absolute_url }}"
      alt="{{ section.title }}">
    </div>
    <div class="col-12 col-sm-7 order-2 py-4 text-center text-sm-left {{ text_class }}">
      <h3>{{ section.title }}</h3>
      <p>{{ section.content }}</p>
      {% if section.button_link %}
        <a class="btn btn-primary" href="{{ section.button_link | relative_url
          }}">{{ section.button_label | default: "Learn More" }}</a>
      {% endif %}
    </div>
  </div>
</section>


