<section class="p-dyn-5 {{ section.css_classes }}" id="{{ section.title | slugify }}">
  <div class="text-center">
    {% if section.has_visible_title %}
      <h2>{{ section.title }}</h2>
    {% endif %}
    <div class="text-block mx-auto">
      {{ section.content }}
    </div>
  </div>
  <div class="row flex-wrap justify-content-center">
    {% for block in section.blocks %}
      <div class="col text-block">
        {% if block.image %}
          <div class="card text-white with-shade mb-3">
            <img class="card-img" src="{{ block.image | absolute_url }}" alt="{{
            block.name }}">
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
              <h4 class="card-title">{{ block.name }}</h4>
              <div class="card-shade"></div>
            </div>
          </div>
        {% endif %}
        {{ block.text | markdownify }}
      </div>
    {% endfor %}
  </div>
</section>

