<section class="mt-3 py-3 px-dyn">
  &nbsp;
</section>

<footer class="p-dyn-4-5 bg-dark text-light">

  <nav>
    <ul class="footer-nav row">
      {% for i in site.footer_nav %}
        {% if i.sub_links %}
          {% assign fnli_classes = "" %}
        {% else %}
          {% assign fnli_classes = "no-sublinks" %}
        {% endif %}
        <li class="col-6 col-sm {{ fnli_classes }}">
          <a class="footer-nav-heading" href="{{ i.link | relative_url }}">{{ i.label }}</a>
          <ul>
            {% for si in i.sub_links %}
              <li><a href="{{ si.link | relative_url }}">{{ si.label }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="footer-meta mb-3 justify-content-md-center">
    <h2 class="navbar-brand mr-0">Daybreak</h2>
    <div class="w-100 d-md-none"></div>
    <div>
      <div class="d-inline-block text-nowrap">
        {{ site.address.street }}
      </div>&nbsp;
      <div class="d-inline-block text-nowrap">
        {{ site.address.city }}, {{ site.address.state }}  {{ site.address.zip }}
      </div>
    </div>
    <p class="text-nowrap">{{ site.phone }}</p>
    <p class="text-nowrap"><a class="text-muted" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
  </div>
  <div class="text-center">
    {% if site.facebook_username %}
      <a href="//facebook.com/{{ site.facebook_username }}" class="text-warning"><i data-feather="facebook"></i></a>
    {% endif %}
    {% if site.instagram_username %}
      <a href="//instagram.com/{{ site.instagram_username }}" class="text-warning"><i data-feather="instagram"></i></a>
    {% endif %}
  </div>
</footer>


<script src="https://unpkg.com/feather-icons@4.7.0/dist/feather.min.js" charset="utf-8"></script>
<script charset="utf-8">
  feather.replace()
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
