---
layout: single_item
---

{% capture subtitle %}
  {% if page.custom_dates %}
    {{ page.custom_dates }}

    {% if page.location %}
      &nbsp;/&nbsp;
    {% endif %}
  {% elsif page.date %}
    {{ page.date | date: "<strong>%A</strong> %b %e, %Y <small>at</small> %l:%M<sup>%P</sup>" }}

    {% if page.location %}
      &nbsp;/&nbsp;
    {% endif %}
  {% endif %}

  {% if page.location %}
    {{ page.location }}
  {% endif %}
{% endcapture %}
{% assign actual_subtitle_size = content | strip | size %}

{% if page.external_url %}
  <script>window.location = '{{ page.external_url }}'</script>
  <em>Redirecting to {{ page.external_url }}...</em>
{% else %}
  {% if actual_subtitle_size > 0 %}
    <div class="h7 mb-4">
      {{ subtitle }}
    </div>
  {% endif %}

  {{ content }}
{% endif %}

