---
layout: default
---

{% assign header_image = page.header_bg_image | absolute_url %}
{% include image_header.html image=header_image text=page.title %}

<section class="p-dyn-5 bg-white">
  <div class="text-block mx-auto">
    {{ content }}
  </div>
</section>

{% assign sorted_series = site.series | sort: "date" | reverse %}
{% assign first_series = sorted_series | first %}

<section class="p-dyn-5">
  <h1 class="text-center mb-5">Messages</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-center">
    <div class="mb-4" style="max-width: 996px;">
      <a href="{{ first_series.url | relative_url }}">
        <img class="img-fluid rounded border-slight" src="{{ first_series.image
        | relative_url }}" alt="{{ first_series.title }} Series Art">
      </a>
    </div>
    <div class="mx-md-5 flex-md-shrink-0 d-flex align-items-center">
      <div>
        <div class="h7">Current Series</div>
        <h2>{{ first_series.title }}</h2>
        <hr>
        <h5 class="tex-muted">In this Series</h5>
        {% assign messages = site.messages | where: "series", first_series.title
        %}
        <ol>
          {% for message in messages %}
            <li>
              <a href="{{ message.url | relative_url }}">
                {{ message.title }}
              </a>
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="p-dyn-5 bg-white">
  <h2 class="text-center mb-5">All Series</h2>
  <div class="row">
    {% for series in sorted_series %}
      {% assign messages = site.messages | where: "series", series.title %}
      {% assign message_size = messages.size %}
      {% if message_size == 1 %}
        {% assign url = messages.first.url | relative_url %}
      {% else %}
        {% assign url = series.url | relative_url %}
      {% endif %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="{{ url }}">
          <div class="bg-16x9 rounded border-slight mb-2"
            style="background-image: url({{ series.small_image | default:
            series.image | relative_url }});"></div>
        </a>
        <h5>{{ series.title }}</h5>
      </div>
    {% endfor %}
  </div>
</section>
