---
layout: single_item
---

<div class="h7 mb-4">Message Series</div>

{% assign messages = site.messages | where: "series", page.title %}
{% if messages == empty %}
  <em>Nothing here yet...</em>
{% else %}
  <table class="table">
    <thead class="sr-only">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Speaker</th>
      </tr>
    </thead>
    <tbody>
      {% for message in messages %}
        <tr>
          <td scope="row">{{ forloop.index }}</td>
          <td>
            <a href="{{ message.url | relative_url }}">
              {{ message.title }}
            </a>
          </td>
          <td>
            {{ message.date | date: "%-m/%-d/%y" }}
          </td>
          <td>
            {{ message.communicator }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
