---
layout: default
---

<article class="post">

  {% if page.video_embed %}
    <div class="mx-auto py-3" style="max-width: 960px;">
      <div class="embed-responsive embed-responsive-16by9 my-4">
        {{ page.video_embed }}
      </div>
    </div>
  {% elsif page.image %}
    <div class="mx-auto py-3" style="max-width: 960px;">
      <img class="d-block rounded img-fluid" src="{{ page.image | relative_url
      }}" alt="{{ page.title }}">
    </div>
  {% elsif page.header_bg_image %}
    {% assign header_image = page.header_bg_image | relative_url %}
    {% include image_header.html image=header_image text=page.title %}
  {% elsif page.header_bg_unsplash_id %}
    {% capture header_image %}//source.unsplash.com/{{ page.header_bg_unsplash_id }}/1600x900{% endcapture %}
    {% include image_header.html image=header_image text=page.title %}
  {% else %}
    <div class="mx-auto py-3" style="max-width: 960px;">
    </div>
  {% endif %}

  <div class="p-dyn-3-5 bg-white">
    <div class="text-block mx-auto">
      {% if page.non_header_video_embed %}
        <div class="mx-auto py-3" style="max-width: 960px;">
          <div class="embed-responsive embed-responsive-16by9 my-4">
            {{ page.non_header_video_embed }}
          </div>
        </div>
      {% endif %}

      {% unless page.header_bg_unsplash_id or page.header_bg_image %}
        <h1>{{ page.title }}</h1>
      {% endunless %}
      <div class="lead">{{ page.summary_text | markdownify }}</div>

      {{ content }}

      {% if page.meta_text or page.primary_button.label or page.seconday_buttons.first.label %}
        <hr>
      {% endif %}
      <div class="small text-muted">
        {{ page.meta_text | markdownify }}
      </div>
      {% if page.primary_button.label and page.primary_button.link %}
        <a class="btn btn-primary" href="{{ page.primary_button.link }}" target="_blank">{{ page.primary_button.label }}</a>
      {% endif %}
      {% for button in page.seconday_buttons %}
        {% if button.label and button.link %}
          <a class="btn btn-secondary" href="{{ button.link }}" target="_blank">{{ button.label }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</article>
